<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios cadastrados</title>

    <link rel="stylesheet" href="/ListaIPcss/style.css"> <!-- Adicione o seu CSS se necessário -->
    <link rel="stylesheet" href="/telainicialcss/header.css">
    <link rel="stylesheet" href="/CadastroIPCSS/style.css">

</head>
<body>
    
    <header class="cabecalho">
        <nav class="cabecalho_menu">
            <img class="imagem_logo" src="/img/nome_logo.png" alt="Logo da empresa">
            <ul class="nav_list" id="section1">
                <li><a class="cabecalho_menu_link" href="/lista">Lista de IP</a></li>
                <li><a class="cabecalho_menu_link" href="/cadastroIP">Cadastro de IP</a></li>
                <li><a class="cabecalho_menu_link" href="/UsuariosCadastrados">Usuarios Cadastrados</a></li>
                <li><form action="/lista/logout" method="GET">
                    <button class="Btn" type="submit">
                      <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                      <div class="text">Sair</div>
                    </button>
                  </form></li>
            </ul>
        </nav>
    </header>

    <h1>Bem-vindo ao Acesso - Usuarios Cadastrados</h1>

    <div class="search-container">
        <input type="text" id="searchInput" class="search-input" placeholder="Pesquisar...">
        <select id="filterSelect" class="filter-select">
            <option value="">Filtrar por...</option>
            <option value="nome">Nome Colaborador</option>
            <option value="matricula">Matrícula</option>
            <option value="email">Email corporativo</option>
        </select>
    </div>

    
    <!-- Tabela de informações -->
    <table id="infoTable">
        <thead>
            <tr>
                <th>Nome Colaborador</th>
                <th>Matrícula</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% usuarios.forEach(usuario => { %>
            <!-- Dados da Tabela -->
            <tr>
                <td><%= usuario.nome %></td>
                <td><%= usuario.matricula %></td>
                <td><%= usuario.email %></td>
                <td><%= usuario.id_empresa %></td>
                <td>
                 <div class="button_crud">
                    <form id="delete-form-<%= usuario.id_usuario %>" action="/lista/deletar/<%= usuario.id_usuario %>" method="POST">
                        <button class="delet_button" type="button" onclick="confirmDelete('<%= usuario.id_usuario %>')">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z" fill="currentColor"/>
                                <path d="M9 9H11V17H9V9Z" fill="currentColor"/>
                                <path d="M13 9H15V17H13V9Z" fill="currentColor"/>
                            </svg>
                            Excluir
                        </button>
                    </form>
                </div>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>